<div class="ui selection dropdown" id="ID_TasaAnualInteres" ng-class="{'valid': tasaAnualSeleccionada  != null}">
    <input type="hidden">
    <div class="default text">Tasa Anual Interés</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        <div class="ui action small input" >
            <input type="number" placeholder="Valor"  min="0" max="100" ng-model = "nuevaTasaAnual">
            <div class="ui mini icon button" ng-click="agregarNuevaTasaAnual()">
                <i class="add icon" style="margin-top: -5px"></i>
            </div>
        </div>
        <div class="item" data-value="{{tasaAnual.id}}"  ng-repeat="tasaAnual in tasasAnuales | orderBy:'name':false " ng-click="selectTasaAnual(tasaAnual,$index)" ng-class="{active: $index === selectedDDTasaAnual}">
            {{tasaAnual.name}}%
        </div>
    </div>
</div>
