
<div class="ui basic segment" style="margin-top:0px; margin-bottom: 0px">
    <div class="ui page grid" >
        <div class="column" >
            <div class="ui form">
                
                <div class="ui  stacked segment">
                    <div class="ui top right  attached label"  ui-sref="root.tareas"  style="padding:6px 12px 6px">
                        <i class="remove icon" style="padding-left: 7px"></i>
                    </div>
                    <h1 class="ui center aligned header Titulo">
                        Histórico de Pagos
                    </h1>
             
                    <div class="ui vertically grid"  >
                        <div class="row">
                            <div class="column">
                                <div class="ui center aligned header " >
                                    <h3 style="margin-top: -2px;margin-bottom: -2px"><p>{{nombreCompletoClienteSeleccionado}}</p></h3>
                                      <div class="sub header"> Monto Prestamo: {{desgloseSeleccionado.monto|currency}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <div class="ui segment scrollTabla ">

                                    <table  class="ui small striped selectable  compact table Informe" >
                                        <thead>
                                            <tr>
                                                <th>Detalle</th>
                                                <th>Banco</th>
                                                <th>Fecha de Pago</th>
                                                <th>Monto</th>
                                                <th>Saldo a favor</th>
                                                <th>Observaciones</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            <tr ng-repeat="informe in informeSeleccionado.pagosprestamos">
                                                <td>{{informe.pago.detalle}}</td>
                                                <td>{{informe.pago.banco}}</td>
                                                <td>{{fechaFormatoVista(informe.pago.fechaPago)}}</td>
                                                <td>{{informe.pago.montoPago|currency}}</td>
                                                <td>{{informe.pago.sobrante|currency}}</td>
                                                <td>{{informe.pago.observaciones}}</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="column">

                                <div class="field ">
                                    <div class="ui fluid styled accordion tabla">
                                        <div class=" title">
                                            <div class="ui center aligned red header SubTitulo Acordeon" style="padding-left: 20px" >
                                                Morosidadades
                                                <i class="dropdown icon"></i>
                                            </div>
                                        </div>
                                        <div class=" content" style="padding: 0px">
                                            <div class="ui segment scrollTabla">

                                                <table class="ui small striped selectable compact table Morosidad" >
                                                    <thead>
                                                    <tr>
                                                        <th>Detalle</th>
                                                        <th>Banco</th>
                                                        <th>Fecha de Cobro</th>
                                                        <th>Dias de Atraso</th>
                                                        <th>Intereses</th>
                                                        <th>Monto en Mora</th>
                                                        <th>Saldo a favor</th>
                                                        <th>Pago Cliente</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody >
                                                    <tr ng-repeat="informe in informeSeleccionado.interesesprestamos">
                                                        <td>{{informe.interes.detalle}}</td>
                                                        <td>{{informe.interes.banco}}</td>
                                                        <td>{{fechaFormatoVista(informe.interes.fechaCobro)}}</td>
                                                        <td>{{informe.interes.cantidadDias}}</td>
                                                        <td>{{informe.interes.interesMora|currency}}</td>
                                                        <td>{{informe.interes.montoenmora|currency}}</td>
                                                        <td>{{informe.interes.sobrante|currency}}</td>
                                                        <td>{{informe.interes.pagoCliente|currency}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="row" >
                            <div class="column" >
                                 <div class="ui fluid styled accordion tabla ultimoPago">
                                        <div class=" title">
                                            <div class="ui center aligned red header SubTitulo Acordeon" style="padding-left: 20px" >
                                                Último Pago
                                                <i class="dropdown icon"></i>
                                            </div>
                                        </div>
                                        <div class=" content" style="padding: 0px">

                                <table  class="ui small compact table Informe" >

                                    <thead>
                                        <tr>
                                            <th>Detalle</th>
                                            <th>Banco</th>
                                            <th>Fecha de Pago</th>
                                            <th>Monto</th>
                                            <th>Saldo a favor</th>
                                            <th>Observaciones</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr class="error" >
                                            <td>{{informeSeleccionado.pagosprestamos[informeSeleccionado.pagosprestamos.length-1].pago.detalle}}</td>
                                            <td>{{informeSeleccionado.pagosprestamos[informeSeleccionado.pagosprestamos.length-1].pago.banco}}</td>
                                            <td>{{fechaFormatoVista(informeSeleccionado.pagosprestamos[informeSeleccionado.pagosprestamos.length-1].pago.fechaPago)}}</td>
                                            <td>{{informeSeleccionado.pagosprestamos[informeSeleccionado.pagosprestamos.length-1].pago.montoPago|currency}}</td>
                                            <td>{{informeSeleccionado.pagosprestamos[informeSeleccionado.pagosprestamos.length-1].pago.sobrante|currency}}</td>
                                            <td>{{informeSeleccionado.pagosprestamos[informeSeleccionado.pagosprestamos.length-1].pago.observaciones}}</td>

                                            <td style="width:20px">
                                                <button class="ui cancelar icon {{loadingState(spinnerActive)}} button" ng-disabled="spinnerActive || informeSeleccionado.pagosprestamos.length === 1" ng-click="eliminarUltimoPago(informeSeleccionado.pagosprestamos[informeSeleccionado.pagosprestamos.length-1].pago,informeSeleccionado.pagosprestamos[informeSeleccionado.pagosprestamos.length-1].id)">    
                                                    <i class="remove icon"></i>
                                                </button>
                                            </td>    
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                 </div>
                            </div>
                        </div> 
                         <div class="row" >
                            <div class="column" style="padding-left: 24%;padding-right: 24%;">
                                <table class="ui table">
                                    <thead>
                                    <tr>
                                        <th>Saldo a favor</th>
                                        <th>Fecha Próximo Pago</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="error" >
                                        <td>{{informeSeleccionado.sobranteActual | currency}}</td>
                                        <td>{{fechaFormatoVista(informeSeleccionado.fechaProxPago)}}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>





                  
                    <div class="row" >
                        <div class="column"> 
                            <div class="actions BTN_Finalizar">
                                <div class=" ui icon button accion" ng-click ="imprimirCaratula()" >
                                    <i class="icon large print"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <span us-spinner="{radius:0, width:0, length: 0}"></span>
            </div>
        </div>
    </div>
</div>
