
    <div class="ui divided grid">
        <div class="four wide column" >
            <div class="ui form ">
                <div class="field">
                    <label>Tipo Operación</label>
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox requisito" ng-click="cambioTipoRequisito(1)">
                                <input type="radio" name="CB_OperacionRequisitos" checked="" >
                                <label>Ver Requisitos</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox" ng-click="cambioTipoRequisito(2)">
                                <input type="radio" name="CB_OperacionRequisitos" >
                                <label>Agregar Requisitos</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
           <elegir.requisitos.ver ng-if="tipoRequisito == 1"></elegir.requisitos.ver>
           <elegir.requisitos.agregar ng-if="tipoRequisito == 2"></elegir.requisitos.agregar>
        </div>
    </div>
