 <div class="ui modal {{sizeModal()}}">
    <div class="ui left floated header">
        <div class="content">
            <i class="chevron left icon back" ng-class="{disabled: !hasPreviousStep()}" ng-click="decrementStep()"></i>
            {{tituloModal}}
        </div>
    </div>
    <div class="ui right floated header">
        
        
        <div class="content" ng-show="getCurrentStepIndex() > 0" style="margin-top: 15px">
           {{nombreCompletoClienteSeleccionado}}
         <div class="sub header" ng-show="getCurrentStepIndex() > 1"  ><h5>Monto Préstamo: {{desgloseSeleccionado.monto | currency}}</h5></div>
        </div>
    </div>
    <div class="ui top right  attached label"  ng-click="close()"  style="padding:6px 8px 6px;">
            <i class="remove icon" style="padding-left: 10px"></i>
        </div>
    
    <div class="ui contenedor {{sizeModal()}}"></div>
    <div class="content" id="ID_ModalComponent" style="min-height: 355px">
    </div>
    <div class="acciones">
        <div class="ui grid">
            <div class="fifteen wide column">
                <div class="ui small ordered steps  fluid" >
                    <div ng-repeat ="step in steps" class="{{step[2]}} step" >
                        <div class="content">
                            <div class="title">   {{step[0]}}</div>
                            <div class="description" >{{step[1]}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one wide column" id="ID_Btn_actions"  style="padding-left: 0px">
                
                
                <div class="ui icon  button accion"   ng-if="hasNextStep()"  ng-click="incrementStep()" ng-class="{disabled: !cumplePasoModal}">
                    <i class="chevron right  icon"></i>
                </div>
                <div class="ui icon  button accion"   ng-if="!hasNextStep() && isPrintStep()"  ng-click="printStepModal()" ng-class="{disabled: !cumplePasoModal}" >
                    <i class=" print icon"></i>
                </div>
                <div class="ui icon {{loadingState(spinnerActive)}}  button accion"   ng-if="!hasNextStep() && !isPrintStep()"  ng-click="finalizarModal()" ng-class="{disabled: !cumplePasoModal}" >
                    <i class="checkmark   icon"></i>
                </div>
                
             
                 
                

            </div>
        </div>
    </div>
</div>