<div class="ui basic small form segment componenteModalLarge">
    <h4 class="ui center aligned  header">
        Lista Contratos de Alquiler
    </h4>
    <div class="ui segment listaModal" >
        <div class="ui  small selection divided  list" >
            <div class="item" ng-repeat="contrato in contratosCliente | filter:searchContrato |orderBy: '-mensualidad'" ng-dblclick="doubleClickNextStep()" ng-click="SeleccionContrato(contrato,$index)" ng-class="{active: $index === selectedContratoIndex}">
                <div class="right floated date">Fecha Inicio de Contrato: {{contrato.fecha}}</div>
                <img class="ui avatar image" src="assets/img/verif.png">
                <div class="content">
                    <a class="header">Sociedad Dueña: {{contrato.sociedad  }}</a>
                    <b>Mensualidad: {{contrato.mensualidad  | currency }}</b>
                </div>
            </div>
        </div>
    </div>
    <div class="ui left icon input">
        <input type="text" placeholder="Buscar Contrato" ng-model="searchContrato.$">
        <i class="book icon"></i>
    </div>
</div>
