<div class="ui selection dropdown" id="ID_DropdownPlazo" ng-class="{'valid': plazoSeleccionado  != null}">
    <input type="hidden">
    <div class="default text">Número de Plazos</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        <div class="ui action small input" >
            <input type="number" placeholder="Valor" min="0" max="100" ng-model = "nuevoPlazo">
            <div class="ui mini icon button accion" ng-click="agregarNuevoPlazo()">
                <i class="add icon"></i>
            </div>
        </div>
        <div class="item" data-value="{{plazo.id}}"  ng-repeat="plazo in plazos | orderBy:'name':false " ng-click="selectPlazo(plazo,$index)" ng-class="{active: $index === selectedDDPlazo}">
            {{plazo.name}}
        </div>
    </div>
</div>
