<div class="ui small modal">
    <div class="header">
        {{tituloDialog}}
    </div>
    <div class="content">
            <p>{{mensajeDialog}}</p>
    </div>
    <div class="actions">
            <div class="ui red inverted button" ng-click="close()">
                <i class="remove icon"></i>
                Cancelar
            </div>
            <div class="ui green inverted button" ng-click="tipoDialogAccion()">
                <i class="checkmark icon"></i>
                Aceptar
            </div>
    </div>
</div>