<div class="ui selection dropdown" id="ID_DropdownComision" ng-class="{'valid': comisionSeleccionada  != null}">
    <input type="hidden">
    <div class="default text">Porcentaje(%)</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        <div class="ui action small input" >
            <input type="number" placeholder="Valor" min="0" max="100" ng-model = "nuevaComision">
            <div class="ui mini icon button accion" ng-click="agregarNuevaComision()">
                <i class="add icon"></i>
            </div>
        </div>
        <div class="item" data-value="{{comision.id}}"  ng-repeat="comision in comisiones | orderBy:'name':false " ng-click="selectComision(comision,$index)" ng-class="{active: $index === selectedDDComision}">
            {{comision.name}}
        </div>
    </div>
</div>
