<div class="ui divided grid">
    <div class="four wide column" >
        <div class="ui form ">

            <div class="field">
                <label>Operaciones</label>
                <div class="grouped fields">
                    <div class="field">
                        <div class="ui radio checkbox" ng-click="cambioOpcionAcreedor(1)">
                            <input type="radio" name="CB_OpcionAcreedor" checked="">
                            <label>Agregar</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox" ng-click="cambioOpcionAcreedor(2)">
                            <input type="radio" name="CB_OpcionAcreedor">
                            <label>Actualizar</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox" ng-click="cambioOpcionAcreedor(2)">
                            <input type="radio" name="CB_OpcionAcreedor">
                            <label>Eliminar</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="twelve wide column" >
        <div class="ui basic small form segment componenteModalLarge" name="formularioOperacionAcreedores" novalidate>
            <h4 class="ui center aligned  header">
               Lista Acreedores
            </h4>
            <div class="ui segment listaModal" >
                <span us-spinner="{radius:30, width:8, length: 16}"></span>
                <div class="ui  small selection divided  list" >
                    <div class="item" ng-repeat="acreedor in listaAcreedores | filter:searchAcreedor |orderBy: '-saldo'"  ng-click="seleccionAcreedor(acreedor, $index)" ng-class="{active: $index === selectedAcreedorIndex}">
                        <img class="ui avatar image" src="assets/img/verif.png">
                        <div class="content">
                            <a class="header">Nombre: {{acreedor.persona.nombre}}</a>
                            <div class="description">Cédula: {{acreedor.cedula}}% </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <input type="text" placeholder="Nombre">
                    </div>
                    <div class="field">
                        <input type="number" min="0" placeholder="Cédula">
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>