<div class="ui divided grid">
    <div class="four wide column">
        <div class="ui form ">
            <div class="field">
                <label>Tipo de Pago</label>
                <div class="grouped fields">
                    <div class="field">
                        <div class="ui radio checkbox morosidad" ng-click="cambioTipoPago(1)">
                            <input type="radio" name="CB_TipoPagoMorosidad" checked="" >
                            <label>Pago Morosidad</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox" ng-click="cambioTipoPago(2)">
                            <input type="radio" name="CB_TipoPagoMorosidad">
                            <label>Sobrante</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="twelve wide column" >
        <pago.morosidad ng-if="tipoPago == 1"></pago.morosidad>
        <pago.sobrante ng-if="tipoPago == 2"></pago.sobrante>
    </div>
</div>