<form class="ui basic small form segment" name="formularioPagoMorosidad" novalidate >
    <div class="ui two column grid">
        <div class="column">
            <h3 class="ui center red aligned  header" style="margin-top: 5px">
                Informacíon de Morosidad
            </h3>
            <div class="fields">
                <div class="eleven wide field">
                    <p><b>{{V_NumeroCuotas}}</b> Cuotas en Moratoria:</p>
                </div>
                <div class="five wide field">
                    <div class="ui input">
                        <input type="text" value="{{V_MontoCuotas | currency}}">
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="eleven wide field">
                    <p>Cantidad de días atraso:</p>
                </div>
                <div class="five wide field">
                    <div class="ui input">
                        <input type="text" value="{{V_CantidadDiasAtraso}}">
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="eleven wide field">
                    <p>Intereses:</p>
                </div>
                <div class="five wide field">
                    <div class="ui  input">
                        <input type="text" value="{{V_CobroInteres| currency}}">
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="eleven wide field">
                    <p>Faltante antiguo:</p>
                </div>
                <div class="five wide field">
                    <div class="ui input">
                        <input type="text" value="{{V_FaltanteMorosidad | currency}}">
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="eleven wide field">
                    <p>Sobrante a favor:</p>
                </div>
                <div class="five wide field">
                    <div class="ui transparent input">
                        <input type="text" value="{{V_SobranteMorosidad | currency}}">
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="fields">
                <div class="ten wide field">
                    <p style="font-size: 18px; font-weight: bold">Saldo a Cancelar:</p>
                </div>
                <div class="six wide field">
                    <div class="ui transparent  error input">
                        <input style="font-size: 18px" type="text" value="{{V_SaldoCancelar | currency}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="field" style="padding-top: 10px">
                <label>Banco</label>
                <div class="ui selection dropdown" id="DD_ID_Banco_PagoMorosidad" >
                    <input type="hidden">
                    <div class="default text">Nombre del Banco</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="ui action small input" style="padding-right:  40px" >
                            <input type="text" placeholder="Nombre" ng-model = "V_NuevoBanco">
                            <div class="ui right labeled mini icon button accion" ng-click="F_AgregarNuevoBanco()">
                                <i class="add icon"></i>
                                Agregar
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="item" data-value="{{DD_Banco.id}}"  ng-repeat="DD_Banco in DD_Bancos | orderBy:'name':false " ng-click="select_Banco(DD_Banco,$index)" ng-class="{active: $index === selectedDDBanco}">
                            {{DD_Banco.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label style="display: block;text-align: center;">Monto del Pago:</label>
                <div class = "ui left icon input" >
                    <input type="number" min="0" ng-model ="montoPago"  ng-change="ComprobarMontoPago(formularioPagoMorosidad.$valid)"  required>
                    <i class="dollar icon"></i>
                </div>
            </div>
        </div>
    </div>
</form>