<div class="ui sidebar accordion inverted labeled icon menu vertical ">
    <a class="item titulo">
        <div class="ui icon">
            <svg-image  src="assets/img/Alquileres_icon.svg" class="main_Icon"></svg-image>
        </div>
        <b >ALQUILERES</b>
    </a>

    <div class="item">
        <i class="file text icon"></i>
        <a class="title">
            <i class="dropdown icon"></i>
            Contrato de Alquiler
        </a>
        <div class="content">
            <div class="menu">
                <a class="item " ng-click = "AbrirModalVerContrato()">Ver Contrato</a>
                <a class="item " ng-click = "AbrirModalCrearContrato()">Crear Contrato</a>
            </div>
        </div>
    </div>
    <a class="item" ng-click="AbrirModalPagoAlquiler()">
        <i class="payment open icon" ></i> Pago Alquiler
    </a>

    <a class="item" ng-click="AbrirModalConsultaAlquiler()">
        <i class="search  icon"></i> Consulta Alquiler
    </a>


</div>

