<div class="ui sidebar accordion inverted labeled icon menu vertical ">
    <a class="item titulo" style="margin-top: 10px">
        <i class="huge home icon"></i>
        <b >ALQUILERES</b>
    </a>
    <div class="ui divider" style="margin-top:  15px;margin-bottom: 10px"></div>
    <div class="item">
        <i class="file text icon"></i>
        <a class="title">
            <i class="dropdown icon"></i>
            Contrato de Alquiler
        </a>
        <div class="content">
            <div class="menu">
                <a class="item " ng-click = "AbrirModalVerContrato()">Ver Contrato</a>
                <a class="item " ng-click = "AbrirModalCrearContrato()">Crear Contrato</a>
            </div>
        </div>
    </div>
    <a class="item" ng-click="AbrirModalPagoAlquiler()">
        <i class="payment open icon" ></i> Pago Alquiler
    </a>

    <a class="item" ng-click="AbrirModalConsultaAlquiler()">
        <i class="search  icon"></i> Consulta Alquiler
    </a>


</div>

