<div class="ui basic  segment"  style="margin-top:0px; margin-bottom: 0px">
    <div class="ui page grid" >
        <div class="column" >
            <div class="ui form">
                <div class="ui secondary segment">
                    <h1 class="ui center aligned header Titulo">
                        {{VG_OpcionDesglose}}
                    </h1>
                    <h3 class="ui center aligned  header Titulo" id = "ID_TipoCliente" style="margin-top: -70px;padding-bottom: 6px">
                        {{tipoClienteDesglose}}
                    </h3>
                    <div class="ui vertically divided grid"  >
                        <div class="row">
                            <div class="column">
                                <label id = "ID_NombreTipoCliente" style="text-align:center; display: block; font-size: 20px;">
                                    {{nombreCompletoClienteSeleccionado}}
                                </label>
                            </div>
                        </div>

                        <div class="two column row" >
                            <div class="column">
                                <h4 class="ui center aligned header SubTitulo">Monto del Prestamo</h4>
                                <div class="field ">

                                    <div class = "ui small left icon input" >
                                        <input type="number" ng-model = "montoPrestamo" placeholder="Monto en Dólares" min="0">
                                        <i class="dollar icon"></i>
                                        <div class="ui mini  corner label">
                                            <i class="icon red asterisk"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="column">
                                <h4 class="ui center aligned header SubTitulo">Tasa Anual de Interés</h4>
                                <div class="two fields">
                                    <div class="field">
                                        <div class="ui selection dropdown" id ="DD_ID_TasaAnualInteres">
                                            <input type="hidden" >
                                            <div class="default text">Corriente(%)</div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="ui action small input" style="padding-right:  40px" >
                                                    <input type="number" placeholder="Valor" min="0" max="100" ng-model = "nuevoTasaAnualInteres">
                                                    <div class="ui teal right labeled mini icon button " ng-click="agregarNuevaTasaAnualInteres()">
                                                        <i class="add icon"></i>
                                                        Agregar
                                                    </div>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="item" data-value="{{DD_Interes.id}}"  ng-repeat="DD_Interes in DD_Intereses| orderBy:'name':false " ng-click="selectInteres(DD_Interes, $index)" ng-class="{active: $index === selectedDDInteres}">
                                                    {{DD_Interes.name}}%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui selection dropdown" id ="DD_ID_Moratoria">
                                            <input type="hidden" >
                                            <div class="default text">Moratorio(%)</div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="ui action small input" style="padding-right:  40px" >
                                                    <input type="number" placeholder="Valor" min="0" max="100" ng-model = "nuevaMoratoria">
                                                    <div class="ui teal right labeled mini icon button " ng-click="agregarNuevaMoratoria()">
                                                        <i class="add icon"></i>
                                                        Agregar
                                                    </div>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="item" data-value="{{DD_Moratoria.id}}"  ng-repeat="DD_Moratoria in DD_Moratorias| orderBy:'name':false " ng-click="selectMoratoria(DD_Moratoria, $index)" ng-class="{active: $index === selectedDDMoratoria}">
                                                    {{DD_Moratoria.name}}%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="two column row" >
                            <div class="column">
                                <h4 class="ui center aligned header SubTitulo">Comisión</h4>

                                <div class="two fields">
                                    <div class="field">
                                        <div class="ui selection dropdown" id ="DD_ID_Comision">
                                            <input type="hidden" >
                                            <div class="default text">Porcentaje(%)</div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="ui action small input" style="padding-right:  40px" >
                                                    <input type="number" placeholder="Valor" min="0" max="100" ng-model = "nuevaComision">
                                                    <div class="ui teal right labeled mini icon button " ng-click="agregarNuevaComision()">
                                                        <i class="add icon"></i>
                                                        Agregar
                                                    </div>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="item" data-value="{{DD_Comision.id}}"  ng-repeat="DD_Comision in DD_Comisiones| orderBy:'name':false " ng-click="selectComision(DD_Comision, $index)" ng-class="{active: $index === selectedDDComision}">
                                                    {{DD_Comision.name}}%
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field ">

                                        <div class = "ui small transparent input">
                                            <input type="text"  value = " Valor: {{comision() | currency}}" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <h4 class="ui center aligned header SubTitulo">Apertura y Manejo de Cuenta</h4>

                                <div class="two fields">
                                    <div class="field">
                                        <div class="ui selection dropdown" id="DD_ID_Aperturas">
                                            <input type="hidden">
                                            <div class="default text">Porcentage (%)</div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="ui action small input" style="padding-right:  40px" >
                                                    <input type="number" placeholder="Valor" min="0" max="100" ng-model = "nuevaApertura">
                                                    <div class="ui teal right labeled mini icon button " ng-click="agregarNuevaApertura()">
                                                        <i class="add icon"></i>
                                                        Agregar
                                                    </div>
                                                </div>
                                                <div class="divider"></div>
                                                <div data-value="{{DD_Apertura.id}}" class="item" ng-repeat="DD_Apertura in DD_Aperturas" ng-click="selectApertura(DD_Apertura, $index)" ng-class="{active: $index === selectedDDAperturas }">
                                                    {{DD_Apertura.name}}%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field ">

                                        <div class = "ui small transparent input">
                                            <input type="text" value = "Valor: {{apertura() | currency}}" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="two column row" >
                            <div class="column">
                                <h4 class="ui center aligned header SubTitulo">Honorarios y Gastos de Inscripción del Fideicomiso ó Hipoteca</h4>

                                <div class="two fields">
                                    <div class="field">
                                        <div class="ui selection dropdown" id = "DD_ID_HonorariosGastos">
                                            <input type="hidden" >
                                            <div class="default text">Porcentage (%)</div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                <div class="ui action small input" style="padding-right:  40px" >
                                                    <input type="number" placeholder="Valor" min="0" max="100" ng-model = "nuevoHonorarioGasto">
                                                    <div class="ui teal right labeled mini icon button " ng-click="agregarNuevoHonorarioGasto()">
                                                        <i class="add icon"></i>
                                                        Agregar
                                                    </div>
                                                </div>
                                                <div class="divider"></div>
                                                <div data-value="{{DD_Honorario_Gasto.id}}" class="item" ng-repeat="DD_Honorario_Gasto in DD_Honorarios_Gastos" ng-click="selectHonorariosGastos(DD_Honorario_Gasto, $index)" ng-class="{active: $index === selectedDDHonorariosGastos}">
                                                    {{DD_Honorario_Gasto.name}}%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field ">
                                        <div class = "ui small transparent input">
                                            <input type="text" value = "Valor: {{honorariosGastos() | currency}}" readonly>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="column">
                                <h4 class="ui center aligned header SubTitulo">Meses de Interés por Adelantado</h4>

                                <div class="two fields">
                                    <div class="field">
                                        <dropdown.meses></dropdown.meses>
                                    </div>
                                    <div class="field ">
                                        <div class = "ui small transparent input">
                                            <input type="text" value = "Valor: {{mesInteres() | currency}}"  readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="two column row" >
                            <div class="column">

                                <h4 class="ui center aligned header SubTitulo">Cobro Legal Adicional</h4>
                                <div class="field ">
                                    <label>Honorarios y Timbres (Cancelación de Hipoteca ó Fideicomiso)</label>
                                    <div class = "ui small left icon input">
                                        <input type="number" ng-model = "honorariosTimbres" placeholder="Monto en Dólares"  min="0">
                                        <i class="dollar icon"></i>
                                        <div class="ui mini corner label">
                                            <i class="icon red asterisk"></i>
                                        </div>
                                    </div>
                                </div>


                                <div class="ui field accordion Desglose CobrosAdicionalesLegales">
                                    <div class="title">
                                        <i class="dropdown icon red"></i>
                                        <label>Adicionales</label>
                                    </div>
                                    <div class="content">

                                        <div ng-repeat="input in cobrosLegalesAdicionales">
                                            <div class="ui form" style="padding-top: 5px">
                                                <div class="ui grid">
                                                    <div class="eleven wide column">
                                                        <div class="field  ">
                                                            <div class = "ui small input">
                                                                <input type="text" placeholder="Descripción" ng-model="input.Descripcion" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="five wide column">
                                                        <div class="field">
                                                            <div class="ui action small  input" >
                                                                <input type="number" placeholder="Monto" ng-model="input.Monto" min="0">
                                                                <div class="ui red right mini icon button " ng-click="removeInputCobroLegalAdicional($index)">
                                                                    <i class="trash large icon"></i>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="ui  labeled teal  small icon button" ng-click="addInputCobroLegalAdicional()" style="margin-top: 10px">
                                            <i class="add icon"></i>
                                            Nuevo
                                        </div>
                                    </div>

                                </div>



                            </div>
                            <div class="column">


                                <h4 class="ui center aligned header SubTitulo">Cobro Adicional</h4>
                                <div class="field  ">
                                    <label>Traslado de Abogado</label>
                                    <div class = "ui small left icon input">
                                        <input type="number" ng-model = "traslado" placeholder="Monto en Dólares"  min="0" >
                                        <i class="dollar icon"></i>
                                        <div class="ui  mini  corner label">
                                            <i class="icon red asterisk"></i>
                                        </div>
                                    </div>
                                </div>


                                <div class="ui field accordion Desglose CobrosAdicionales">
                                    <div class="title">
                                        <i class="dropdown icon red"></i>
                                        <label>Adicionales</label>
                                    </div>
                                    <div class="content" >
                                        <div ng-repeat="input in cobrosAdicionales" >
                                            <div class="ui form" style="padding-top: 5px">
                                                <div class="ui grid">
                                                    <div class="eleven wide column">

                                                        <div class="field  ">
                                                            <div class = "ui small input">
                                                                <input type="text" placeholder="Descripción" ng-model="input.Descripcion" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="five wide column">
                                                        <div class="field">
                                                            <div class="ui action small  input" >
                                                                <input type="number" placeholder="Monto" ng-model="input.Monto" min="0">
                                                                <div class="ui red right mini icon button " ng-click="removeInputCobroAdicional($index)">
                                                                    <i class="trash large icon"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="ui  labeled teal  small icon button" ng-click="addInputCobroAdicional()" style="margin-top: 10px">
                                            <i class="add icon"></i>
                                            Nuevo
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="column">
                                <div class="field ">
                                    <div class="ui fluid accordion Desglose Comentario">
                                        <div class=" title">
                                            <div class="ui center aligned header SubTitulo Acordeon" style="padding-left: 20px" >
                                                Comentario
                                                <i class="dropdown icon"></i>
                                            </div>
                                        </div>
                                        <div class=" content">
                                            <textarea ng-model ="comentarioDesglose">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="two fields  " >
                                <div class="field"  style="padding : 20px 10px 5px;" >
                                    <h1 class="ui right aligned header">
                                        SALDO A GIRAR:
                                    </h1>

                                </div>
                                <div class="field"  style="float:right; padding : 10px 12px 10px;">
                                    <div class = "ui left icon  error input">
                                        <input type="text"   value = "{{saldo() | currency}}" readonly style="font-size:18px;">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="actions BTN_Finalizar"  id="ID_ButtonFinalizacionDesglose">
                        <div class="left attached  ui button large teal "ng-click ="crearDesgloseFormularioCompleto()" >
                            {{VG_TextoBotonFinalizar}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>