<form class="ui basic small form segment" name="formularioPagoFaltante"  novalidate>
    <h3 class="ui center aligned  header" >
        Pago Faltante
    </h3>
    <div class="two fields">
        <div class="field ">
            <label>Fecha de Pago</label>
            <div class="ui mini corner labeled left icon input">
                <i class="calendar icon"></i>
                <input type="date" ng-model = "fechaPago" ng-change="ComprobarFechaPago(formularioPagoFaltante.$valid)" required>
                <div class="ui corner label">
                    <i class="red asterisk icon"></i>
                </div>
            </div>
        </div>
        <div class="field ">
            <label>Banco</label>
            <div class="ui selection dropdown" id="DD_ID_Banco_PagoFaltante">
                <input type="hidden" >
                <div class="default text">Nombre del Banco</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="ui action small input" style="padding-right:  40px" >
                        <input type="text" placeholder="Nombre" ng-model = "V_NuevoBanco">
                        <div class="ui right labeled mini icon button accion" ng-click="F_AgregarNuevoBanco()">
                            <i class="add icon"></i>
                            Agregar
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="item" data-value="{{DD_Banco.id}}"  ng-repeat="DD_Banco in DD_Bancos | orderBy:'name':false " ng-click="select_Banco(DD_Banco,$index)" ng-class="{active: $index === selectedDDBanco}">
                        {{DD_Banco.name}}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="field error">
        <label style="display: block;text-align: center;">Existe un faltante de:</label>
        <div class = "ui input" >
            <input type="text" readonly value="{{V_MontoPagoFaltante | currency}}">
        </div>
    </div>
</form>
