<div class="ui inverted  menu  fixed " style="margin-top:-16px;">

    <a class="item title" style="padding-top: 17px;padding-bottom: 5px; cursor: pointer"  ui-sref="root.tareas" >
        <svg-image  src="assets/img/logo.svg" </svg-image>
    </a>
    <div class="ui  inverted labeled icon menu " > 
        <a class="item" ng-class="{active: prestamosSelected}" style="padding-bottom: 5px;padding-top: 20px"  ng-click="prestamos()" >
            <div class="ui icon">
                <svg-image  src="assets/img/Prestamos_icon.svg" class="menu_Icon Prestamos"></svg-image>
            </div>
            PRÉSTAMOS
        </a>
        <a class="item" ng-class="{active: alquileresSelected}" style="padding-bottom: 5px;padding-top: 20px"  ng-click="alquileres()">
            <div class="ui icon">
                <svg-image  src="assets/img/Alquileres_icon.svg" class="menu_Icon Alquileres"></svg-image>
            </div>
            ALQUILERES
        </a>
    </div>
    <div class="right item"  style="padding-bottom: 5px;padding-top: 20px;padding-left: 0px" >
        <div class="ui dropdown item" >
            <i class="large user icon"></i>{{currentUser.username}}<i class="dropdown icon"></i>
            <div class="ui menu">
                <a class="item" ng-click="logOut()">Cerrar Sesión</a>
            </div>
        </div>
    </div>
