<div class="ui sidebar compact accordion inverted labeled icon menu vertical ">
    <a class="item titulo" style="margin-top: 10px">
        <i class="huge payment  icon"></i>
        <b>PRÉSTAMOS</b>
    </a>
    <div class="ui divider" style="margin-top:  15px;margin-bottom: 10px"></div>
    <div class="item">
        <i class="file text icon"></i>
        <a class="title">
            <i class="dropdown icon"></i>
            Desglose de Gastos
        </a>
        <div class="content">
            <div class="menu">
                <a class="item " ng-click = "abrirModalCrearDesglose()">Crear Desglose</a>
                <a class="item " ng-click = "abrirModalVerDesglose()">Ver Desglose</a>
                <a class="item " ng-click = "abrirModalEliminarDesglose()" ng-if="currentUser.userRole == userRoles.admin">Eliminar Desglose</a>
            </div>
        </div>
    </div>
    <div class="item">
        <i class="folder open icon"></i>
        <a class="title">
            <i class="dropdown icon"></i>
            Carátula Préstamo
        </a>
        <div class="content">
            <div class="menu">
                <a class="item" ng-click = "abrirModalCrearCaratula()">Crear Carátula</a>
                <a class="item" ng-click = "abrirModalVerCaratula()">Ver Carátula</a>
                <a class="item" ng-click = "abrirModalEliminarCaratula()" ng-if="currentUser.userRole == userRoles.admin">Eliminar Carátula</a>
            </div>
        </div>
    </div>
    <a class="item " ng-click = "abrirModalRequisitos()">
        <i class="check square icon"></i> Requisitos Préstamo
    </a>

    <div class="item" ng-if="currentUser.userRole == userRoles.admin">
        <i class="payment open icon"></i>
        <a class="title">
            <i class="dropdown icon"></i>
            Pagos Préstamo
        </a>
        <div class="content">
            <div class="menu">
                <a class="item" ng-click = "abrirModalPagosRegulares()" >Pago Regular</a>
                <a class="item" ng-click = "abrirModalPagosAntiguos()" >Pago Antiguo</a>
            </div>
        </div>
    </div>

    <a class="item" ng-click="abrirModalConsulta()">
        <i class="search  icon"></i> Consulta Préstamo
    </a>
</div>

