<div class="ui basic small form segment" >
    <h4 class="ui center aligned  header">
        Clientes Jurídicos
    </h4>
    <div class="ui  segment listaModal"   >
        <span us-spinner="{radius:30, width:8, length: 16}"></span>

        <div class="ui selection list">
            <div class="item" ng-repeat="clienteJuridico in clientesJuridicos  | filter:searchClienteJuridico | orderBy: 'nombre'" ng-dblclick="doubleClickNextStep()" ng-click="seleccionClienteJuridico(clienteJuridico,$index)" ng-class="{active: $index === selectedClienteJuridicoIndex}">
                <img class="ui avatar image" src="assets/img/avatar.png">
                <div class="content">
                    <a class="header">{{clienteJuridico.nombre}} </a>
                    <div class="description">Cédula Jurídica: {{clienteJuridico.personajuridica.cedulaJuridica}}</div>
                </div>
            </div>

        </div>

    </div>

    <div class="ui left icon input">
        <input type="text" id ="inputAgregarNuevoCliente" placeholder="Buscar Cliente Jurídico" ng-model="searchClienteJuridico.$"  >
        <i class="users icon"></i>
    </div>
</div>
